<%- include('Partials/header.ejs') %>

<div class="container text-center mt-5">
  <div class="jumbotron bg-light p-5 rounded">
    <h1 class="display-4">Welcome to Expense Tracker!</h1>
    <p class="lead">Easily track your daily expenses and manage your budget.</p>
    <hr class="my-4">
    <p>Get started by viewing or adding your expenses now.</p>
    <a class="btn btn-primary btn-lg" href="/expenses" role="button">Get Started</a>
</div>
</div>

<%- include('Partials/footer.ejs') %>
